		<div class="row">
			<h1>Featured products</h1>
			<div class="col-md-4">
				<figure>
					<%= image_tag("product-image3.jpg", class: "img-responsive", alt: "Beadwork") %>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag("product-image2.jpg", class: "img-responsive", alt: "Hearts") %>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag("product-image1.jpg", class: "img-responsive", alt: "Metal") %>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag("product-image4.jpg", class: "img-responsive", alt: "Earrings") %>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag("product-image5.jpg", class: "img-responsive", alt: "Pearls") %>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag("product-image6.jpg", class: "img-responsive", alt: "Glass Beads") %>
				</figure>
			</div>

		</div>
